.d-flex{
    display: flex;
    align-items: center;
}
.align-items-center{
    align-items: center;
}
.gap-2{
    gap: 2px;
}
.gap-3{
    gap: 3px;
}
.gap-4{
    gap: 4px;
}
.gap-5{
    gap: 5px;
}
.gap-6{
    gap: 6px;
}
.gap-7{
    gap: 7px;
}
.justify-content-md-center{
    justify-content: center;
}
.row-gap-4{
    row-gap: 4px;
}
.align-items-center{
    align-items: center;
}
.col-md-6{
    flex: 0 0 auto;
    width: 50%;
}
.col-lg-5{
    flex: 0 0 auto;
    width: 41.666667%;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.justify-content-center{
    justify-content: center;
}
.mb-4{
    margin-bottom: 1.5rem;
}
.ps-4{
    padding-left: 1.5rem;
}
.read-tag{
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 20px;
    color: #000000;
    border-radius: 4px;
    text-decoration: none;
}
.position-relative{
    position: relative;
  display: inline-block;
}
.px-lg-4{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.disclaimer-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.788);
  z-index: 9999;
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.disclaimer-card {
  background-color: #fff;
  max-width: 600px;
  width: 90%;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  overflow: hidden;
  animation: fadeIn 0.3s ease;
  display: flex;
  flex-direction: column;
}

.disclaimer-header {
  background-color: #ab1100;
  color: white;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disclaimer-header h2 {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.close-btn {
  background: transparent;
  border: none;
  background-color: #ffffff;
  padding: 0px 8px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
}

.disclaimer-body {
  padding: 1.5rem;
  text-align: center;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}

.visit-btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: #003fab;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 10px;
}

.visit-btn:hover {
  background-color: #003e7d;
}

.disclaimer-footer {
  background-color: #e2e2e2;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #ddd;
}

.disclaimer-footer img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

