/* Mobile (up to 480px) */
@media (max-width: 480px) {
    .disclaimer-card {
        max-width: 90%;
        width: 90%;
        border-radius: 8px;
    }

    .disclaimer-header h2 {
        font-size: calc((17/480)*100vw);
    }

    .close-btn {
        padding: 0px 10px;
        font-size: calc((20/480)*100vw);
    }

    .disclaimer-body {
        padding: 1rem;
        font-size: calc((14/480)*100vw);
    }

    .visit-btn {
        padding: 9px;
        font-size: calc((13/480)*100vw);
    }

    .disclaimer-footer {
        flex-direction: column;
        text-align: center;
    }

    .disclaimer-footer img {
        width: calc((70/480)*100vw);
        height: calc((70/480)*100vw);
    }

    /* header */
    .header-top {
        height: calc((100/480)*100vw);
    }

    .left-topheader div img {
        max-width: calc((80/480)*100vw);
    }

    .gap-3 {
        gap: .7rem !important;
    }

    .gap-4 {
        gap: 10px !important;
    }

    .center-topheader span {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        font-size: calc((30/480)*100vw);
        transform: translate(-35%, 0%);
    }

    .right-topheader .dos_dont img {
        width: calc((23/480)*100vw);
    }

    .reader_btn {
        padding: 4px;
        font-size: calc((13/480)*100vw);
    }

    .viksit_bharat {
        width: calc((70/480)*100vw);
    }

    .theme_btn {
        font-size: calc((20/480)*100vw);
    }

    .left-bottomheader .nablinks {
        display: none;
    }

    .menu {
        display: block;
    }

    .sidebar-menu li {
        position: relative;
    }

    .dropdown-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        backdrop-filter: blur(16px);
        z-index: 101;
        padding: 0px;
        border-radius: 0px;
        border: 2px solid #005cab;
    }

    .dropdown-menu li {
        padding: 8px 16px;
        border-bottom: 1px solid #005cab;
        color: #005cab !important;
    }

    .dropdown-menu li a {
        font-size: 1rem !important;
    }

    .sidebar-menu li.open>.dropdown-menu {
        display: flex;
    }

    /* end header */
    .gap_for_me {
        width: 100%;
        height: calc((153/480)*100vw);
    }

    .blank_space {
        width: 100%;
        height: calc((30/480)*100vw);
    }

    /* start main container */
    .main_container {
        width: 96%;
    }

    /* end main container */

    /* marquee */
    .marquee_container {
        width: 98%;
        margin: auto;
        margin-top: 10px;
        font-size: 12px;
    }

    /* end marquee */
    /* start top compaines */
    .top_companies {
        width: 300px;
        padding: 5px;
    }

    .top_companies_logo {
        width: 50px;
        height: 25px;
        align-items: center;
        justify-content: center;
    }

    .pm_img {
        width: 58%;
    }

    .offers_btn {
        justify-content: center;
    }

    /* end top compaines */

}

/* Small tablets (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {}

/* Tablets & small desktops (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {}

/* Large screens (above 1024px) */
@media (max-width: 1025px) {}